click==7.1.2
Flask==2.2.5
fuzzywuzzy==0.18.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
numpy==1.22.2
opencv-contrib-python==4.8.1.78.34
Pillow==10.0.1
python-Levenshtein==0.12.1
tesserocr==2.5.1
Werkzeug==3.0.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
